{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row padded_row">
            <!-- right side content -->
            <div class="col-md-7">

                <div class="chat_window">

                    <div class="top_menu">
                        <div class="title">ChatBot - Jarvis</div>
                    </div>

                    <!-- dynamically rendered -->
                    <ul class="messages messages-container p-4">
                        <li class="text-start mb-3 bg-warning p-4 rounded-3 d-inline-block">What's Your Name?</li>
                    </ul>

                    <!-- input -->
                    <div class="bottom_wrapper">
                        <form action="/get-response" method="get" id="chatbot_form" class="w-100">
                            <input name="message" id="msg_input" class="w-75" placeholder="Say Hi to begin chat..."/>
                            <button class="btn btn-primary rounded-5 float-end btn-lg">Send</button>
                        </form>
                    </div>

                </div>

            </div>

            <!-- left side content -->
            <div class="col-md-5">
                <div class="chat_window">

                    <div class="top_menu">
                        <div class="title">Result</div>
                    </div>

                    <!-- help container -->
                    <div class="panel-group" id="accordion">
                        <ul class="messages result-container p-4"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- vendor script files -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
{% endblock %}
