{% extends 'base.html' %}
{% block content %}
    <section class="home" id="home">
        <h2 id="title">Rate us!</h2>
        <fieldset class="starRating">
            <input type="radio" name="satisfaction" value="star5" class="radioStar" id="star5"><label for="star5"
                                                                                                      class="labelStar"></label>
            <input type="radio" name="satisfaction" value="star4" class="radioStar" id="star4"><label for="star4"
                                                                                                      class="labelStar"></label>
            <input type="radio" name="satisfaction" value="star3" class="radioStar" id="star3"><label for="star3"
                                                                                                      class="labelStar"></label>
            <input type="radio" name="satisfaction" value="star2" class="radioStar" id="star2"><label for="star2"
                                                                                                      class="labelStar"></label>
            <input type="radio" name="satisfaction" value="star1" id="star1" class="radioStar"><label for="star1"
                                                                                                      class="labelStar"></label>
            <br><br>

            <button type="sent" class="btn btn-info" value="sent" id="sent">sent</button>
        </fieldset>

        </div>
        <br><br><br><br>
        <div class="text-center">
            <h3 id="title"> Any other comments :</h3>
            <textarea name="comments" class="txt txt-info"></textarea>
            <br>

            <button type="submit" class="btn btn-info" value="submit" id="submit">Submit</button>
            <button type="reset" class="btn btn-info" value="reset">Reset</button>
        </div>
        <br><br>
    </section>
    <section class="footer" id="contact">
        <div class="icon-footer">
            <ul>
                <li><a href="#"> <i class="fab fa-facebook-f fa-lg"></i> </a></li>
                <li><a href="#"> <i class="fab fa-twitter fa-lg"></i></a></li>
                <li><a href="#"> <i class="fab fa-google fa-lg"></i></a></li>
                <li><a href="#"> <i class="fab fa-github-alt fa-lg"></i> </a></li>
            </ul>
        </div>
        <p>Copy Right 2022 © By
            <a class="alt" href="#"> PTUK</a>
            All Rights Reserved</p>

    </section>
{% endblock %}
